bot/n8n/workflows/human-handoff.json
{
  "name": "Nexo Real — Human Handoff (Notion + Brevo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "human-handoff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Receive Handoff Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "human-handoff-nexo-real"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst body = $input.first().json.body || $input.first().json;\nconst required = ['phone', 'name', 'summary', 'agentName'];\n\nfor (const field of required) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      phone: body.phone,\n      name: body.name,\n      summary: body.summary,\n      agentName: body.agentName,\n      language: body.language || 'es',\n      handoffAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "validate-transform",
      "name": "Validate & Transform Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "33a293bfbcf08050b983ed786679c415",
        "title": "={{ $json.name }} — {{ $json.phone }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name",
              "type": "title",
              "titleValue": "={{ $json.name }}"
            },
            {
              "key": "Phone",
              "type": "phone_number",
              "phoneValue": "={{ $json.phone }}"
            },
            {
              "key": "Interest",
              "type": "rich_text",
              "textContent": "={{ $json.summary }}"
            },
            {
              "key": "Language",
              "type": "select",
              "selectValue": "={{ $json.language }}"
            },
            {
              "key": "Status",
              "type": "select",
              "selectValue": "Needs Human"
            },
            {
              "key": "Source",
              "type": "select",
              "selectValue": "WhatsApp Bot"
            },
            {
              "key": "Created At",
              "type": "date",
              "dateValue": "={{ $json.handoffAt }}"
            }
          ]
        }
      },
      "id": "notion-create-lead",
      "name": "Notion — Create Lead",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 220],
      "credentials": {
        "notionApi": {
          "name": "Notion — Nexo Real"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": false,
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": [{\"email\": \"info@nexoreal.xyz\", \"name\": \"Equipo Nexo Real\"}],\n  \"templateId\": 1,\n  \"params\": {\n    \"lead_name\": \"{{ $node['Validate & Transform Input'].json.name }}\",\n    \"lead_phone\": \"{{ $node['Validate & Transform Input'].json.phone }}\",\n    \"lead_summary\": \"{{ $node['Validate & Transform Input'].json.summary }}\",\n    \"bot_agent\": \"{{ $node['Validate & Transform Input'].json.agentName }}\",\n    \"handoff_time\": \"{{ $node['Validate & Transform Input'].json.handoffAt }}\",\n    \"notion_url\": \"https://notion.so/{{ $node['Notion — Create Lead'].json.id.replace(/-/g, '') }}\"\n  }\n}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "brevo-send-email",
      "name": "Brevo — Send Handoff Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Brevo — API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const notionResult = $node['Notion — Create Lead'].json;\nconst brevoResult = $node['Brevo — Send Handoff Email'].json;\n\nreturn [\n  {\n    json: {\n      success: true,\n      notionPageId: notionResult.id || null,\n      emailSent: brevoResult.messageId ? true : false\n    }\n  }\n];"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-success",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message }}\"\n}"
      },
      "id": "respond-error",
      "name": "Respond — Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 540]
    }
  ],
  "connections": {
    "Webhook — Receive Handoff Request": {
      "main": [
        [
          {
            "node": "Validate & Transform Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Transform Input": {
      "main": [
        [
          {
            "node": "Notion — Create Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Brevo — Send Handoff Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion — Create Lead": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo — Send Handoff Email": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["nexo-real", "bot", "handoff", "notion", "brevo", "sprint8"],
  "triggerCount": 0,
  "updatedAt": "2026-04-09T00:00:00.000Z",
  "versionId": "1.1.0"
}
